.alert-container
{
    margin-left: -225px;
    position: fixed;
    top: 0;
    transition: 0.5s ease-in-out transform;
    transform: translate(0, -100%);
    left: 50%;
    width: 450px;
    z-index: 100;
}

.alert-container.is-shown
{
    transform: translate(0, 10%);
}

h2
{
    font-size: normal;
    text-transform: uppercase;
}

.btn
{
    padding-bottom: 7px;
    padding-top: 7px;
}

.btn-default
{
    background: #FAAF40;
    border: none;
    text-shadow: none;
}

.btn-primary
{
    background: #26A9E0;
    border: none;
    text-shadow: none;
}

.infinite-spin
{
    -webkit-animation: 1s linear 0s infinite spin;
    -o-animation: 1s linear 0s infinite spin;
    animation: 1s linear 0s infinite spin;
}

.input-group .form-control
{
    border: none;
}

.label
{
    border-radius: 0;
    font-size: 100%;
}

.navbar-default
{
    background: black;
}

.navbar-brand
{
    text-transform: uppercase;
}

@-webkit-keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}